# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [57]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
school = "Resources/schools_complete.csv"
student = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

# Combine the data into a single dataset
city_schools = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
city_schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [58]:
city_schools.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [59]:
school_count = len(city_schools["school_name"].unique())
school_name= city_schools["school_name"].unique()
print (school_name)
print (school_count)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']
15

In [60]:
student_count = len(city_schools["student_name"].unique())
student_count

32715

In [61]:
budget_sum = (city_schools["budget"].sum())
budget_sum

82932329558

In [62]:
math_sum = (city_schools["math_score"].mean())
math_sum

78.98537145774827

In [63]:
reading_sum = (city_schools["reading_score"].mean())
reading_sum

81.87784018381414

In [64]:
avg = (city_schools ["math_score"].mean() + city_schools["reading_score"].mean()) / 2
avg

80.43160582078121

In [65]:
#passing math score of 70<
math_above = ((len(city_schools.loc[city_schools["math_score"] > 70])) / student_count) * 100
math_above

86.67583677212288

In [66]:
#passing reading score of 70<
read_above = ((len(city_schools.loc[city_schools["reading_score"] > 70])) / student_count) * 100
read_above

99.34280910897142

In [67]:
#dataframe
district_summary = pd.DataFrame({"Total schools": [school_count],
                                 "Total students": [student_count],
                                 "Total budget": [budget_sum],
                                 "Avg math score": [math_sum],
                                 "Avg reading score": [reading_sum],
                                 "Overall passing %": [avg],
                                 "Math passing %": [math_above],
                                 "reading passing %": [read_above]
                                })
district_summary["Total budget"] = district_summary["Total budget"].map("${:,.2f}".format)
district_summary

,Total schools,Total students,Total budget,Avg math score,Avg reading score,Overall passing %,Math passing %,reading passing %
0,15,32715,"$82,932,329,558.00",78.985371,81.87784,80.431606,86.675837,99.342809

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [68]:
#school name with their type
# school_type =pd.DataFrame(city_schools.set_index(["school_name"])["type"])
# school_type

school_name = pd.DataFrame(city_schools[["school_name","type"]])
school_type= school_name.drop_duplicates().set_index("school_name")
school_type

#school_name = city_schools.set_index("school_name").groupby(["school_name"])
#type = city_schools.set_index("school_name")["type"]
#school_name

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [69]:
#school with number of students per school
students_per_school=city_schools["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [70]:
#school budget
school_budget = city_schools.groupby(["school_name"]).mean()["budget"]

print (school_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [71]:
#budget per student
student_budget = school_budget/students_per_school
print (student_budget)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [72]:
# avg test scores
avg_school_math =city_schools.groupby(["school_name"]).mean()["math_score"]
avg_school_reading = city_schools.groupby (["school_name"]).mean()["reading_score"]

print (avg_school_math)
print ("-----------------------")
print (avg_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
-----------------------
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [73]:
# math and reading over 70 per school
passing_math = city_schools[(city_schools["math_score"] > 70)]
passing_reading = city_schools[(city_schools["reading_score"] > 70)]

#dividing passing_math (> 70) by student count per school
school_passing_math = passing_math.groupby(["school_name"]).count()["student_name"] / students_per_school * 100

print (school_passing_math)

print ("-----------------------------------")

school_passing_reading = passing_reading.groupby(["school_name"]).count()["student_name"] / students_per_school * 100
print (school_passing_reading)

Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
dtype: float64
-----------------------------------
Bailey High School       79.300643
Cabrera High School      93.864370
Figueroa High School     78.433367
Ford High School         77.510040
Griffin High School      93.392371
Hernandez High School    78.187702
Holden High School       92.740047
Huang High School        78.813850
Johnson High School      78.281874
Pena High School         92.203742
Rodriguez High School    77.744436
Shelton High School      92.617831
Thomas High School       92.905199
Wilson High School       93.254490
Wright High School       93.444444
dtype: float64

In [74]:
#total avg
overall_passing_rate = school_passing_math + school_passing_reading / 2
print(overall_passing_rate)

Bailey High School       104.280547
Cabrera High School      136.490850
Figueroa High School     102.967107
Ford High School         104.508945
Griffin High School      136.410082
Hernandez High School    103.840345
Holden High School       137.002342
Huang High School        102.725403
Johnson High School      102.993069
Pena High School         137.785863
Rodriguez High School    102.938235
Shelton High School      136.201022
Thomas High School       136.666667
Wilson High School       137.560228
Wright High School       137.000000
dtype: float64

In [75]:
#dataframe for per school summary
school_summary = pd.DataFrame({"School Name": [school_type],
                               "Total Student per school": [students_per_school],
                               "total Budget per school": [school_budget],
                               "Budget per student": [student_budget],
                               "Avg Math Score per school": [avg_school_math],
                               "Avg Reading Score per school": [avg_school_reading],
                               "Schools passing math >70": [school_passing_math],
                               "Schools passing reading >70": [school_passing_reading],
                               "Overall passing rate per school": [overall_passing_rate]
                                  })
school_summary

,School Name,Total Student per school,total Budget per school,Budget per student,Avg Math Score per school,Avg Reading Score per school,Schools passing math >70,Schools passing reading >70,Overall passing rate per school
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 64.630225 Cabrera Hig...,Bailey High School 79.300643 Cabrera Hig...,Bailey High School 104.280547 Cabrera Hi...

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [76]:
Top_schools = school_summary.sort_values(["Overall passing rate per school"], ascending=False)
Top_schools

,School Name,Total Student per school,total Budget per school,Budget per student,Avg Math Score per school,Avg Reading Score per school,Schools passing math >70,Schools passing reading >70,Overall passing rate per school
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 64.630225 Cabrera Hig...,Bailey High School 79.300643 Cabrera Hig...,Bailey High School 104.280547 Cabrera Hi...

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [77]:
Bottom_schools = school_summary.sort_values(["Overall passing rate per school"], ascending=True)
Bottom_schools.head()

,School Name,Total Student per school,total Budget per school,Budget per student,Avg Math Score per school,Avg Reading Score per school,Schools passing math >70,Schools passing reading >70,Overall passing rate per school
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 64.630225 Cabrera Hig...,Bailey High School 79.300643 Cabrera Hig...,Bailey High School 104.280547 Cabrera Hi...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [78]:
#avg math score for each grade level
all_nineth_graders = city_schools[(city_schools["grade"] == "9th")]
all_tenth_graders = city_schools[(city_schools["grade"] == "10th")]
all_eleventh_graders = city_schools[(city_schools["grade"] == "11th")]
all_twelfth_graders = city_schools[(city_schools["grade"] == "12th")]

#all_nineth_graders.head()

In [79]:
#group each grade series by school
math_nineth_graders = all_nineth_graders.groupby(["school_name"]).mean()["math_score"]
math_tenth_graders = all_tenth_graders.groupby(["school_name"]).mean()["math_score"]
math_eleventh_graders = all_eleventh_graders.groupby(["school_name"]).mean()["math_score"]
math_twelfth_graders = all_twelfth_graders.groupby(["school_name"]).mean()["math_score"]

#math_nineth_graders.head()

In [80]:
math_by_grade = pd.DataFrame({"9th":[all_nineth_graders],
                            "10th":[all_tenth_graders],
                            "11th":[all_eleventh_graders],
                            "12th":[all_twelfth_graders]
                            })
math_by_grade

,9th,10th,11th,12th
0,Student ID student_name gender g...,Student ID student_name gender ...,Student ID student_name gender...,Student ID student_name gender ...

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [81]:
#reading grades by grade
all_nineth_graders = city_schools[(city_schools["grade"] == "9th")]
all_tenth_graders = city_schools[(city_schools["grade"] == "10th")]
all_eleventh_graders = city_schools[(city_schools["grade"] == "11th")]
all_twelfth_graders = city_schools[(city_schools["grade"] == "12th")]

#all_nineth_graders.head()

In [82]:
# Group each by school name
reading_nineth_graders_scores = all_nineth_graders.groupby(["school_name"]).mean()["reading_score"]

reading_tenth_graders_scores = all_tenth_graders.groupby(["school_name"]).mean()["reading_score"]
reading_eleventh_graders_scores = all_eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
reading_twelfth_graders_scores = all_twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

#reading_nineth_graders_scores.head()

In [83]:
reading_by_grade=pd.DataFrame({"9th":[reading_nineth_graders_scores],
                 "10th":[reading_tenth_graders_scores],
                  "11th":[reading_eleventh_graders_scores],
                  "12th":[reading_twelfth_graders_scores]
                 })
reading_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [84]:
school_summary.head()

,School Name,Total Student per school,total Budget per school,Budget per student,Avg Math Score per school,Avg Reading Score per school,Schools passing math >70,Schools passing reading >70,Overall passing rate per school
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 64.630225 Cabrera Hig...,Bailey High School 79.300643 Cabrera Hig...,Bailey High School 104.280547 Cabrera Hi...

In [85]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [86]:
school_summary["Budget per student"]=pd.cut(school_summary
                                                       ["total Budget per school"] /school_summary
                                                       ["Total Student per school"], spending_bins , labels=group_names)
school_summary

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
scores_by_type = school_summary.drop(columns=["Total Student per school", "total Budget per school", "Budget per student"])
scores_by_type

In [ ]:
school_types = scores_by_type.groupby(["School Type"])
school_types